@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.inter-font{
    font-family: "Inter", sans-serif;

}

.miama-font{
    font-family: 'Miama', sans-serif;
}
body{
    font-family: "Inter", sans-serif;
}
.display-flex{
    display: flex;
}
/* Banner Navbar Related Style */
.banner-container{
    max-width: 100%;
    height: 510px;
    background: linear-gradient(to bottom, #000000, #434343, #000000);
    
    position: relative;
    padding: 0.1px;
}
.navbar{
    max-width: 75%;
    height: 36px;
    margin: 47px auto;
    justify-content: space-between;
}
.navbar-fitness{
    font-size: 32px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    text-align: left;
}
.navbar-menu{
    border: 2px solid rgba(136, 133, 133, 0.1);
    border-radius: 50px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}

.navbar-menu a{
    color: white;
    opacity: 0.9;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 6px 14px;
}
   

.menu-home{
    color: white;
    text-align: center;
    background-color:  rgb(230, 83, 60);
    border-radius: 50px;
    text-decoration: none;
    padding: 8px 14px;
    font-weight: 600;
    margin-left: 4px;
}
.navbar-icon{
   display: none;
  
}

/* Banner Text and Image Related Style */
.banner-text-card-image{
       position: relative;
       max-width: 75%;
       height: 400px;
       margin: 0px auto; 
       display:flex;
       justify-content: space-between; 
       gap: 300px;    
}
.banner-card-image{
    position: relative;
}
.banner-text{
    display: flex;
    flex-direction: column;
}
.text-title{
    font-size: 2.5rem;
    color: white;
    line-height: 190%;
    letter-spacing: 0%;
}
.text-title span{
    font-family: 'Miama', sans-serif;
    font-size: 4.8rem;
    font-weight: lighter;
}
.text-paragraph p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.download-app{
    color: white;
    border: none;
    padding: 12px 24px;
    border: 2px solid rgba(255, 255, 255, 0.062);
    border-radius: 25px;
    background-color: rgba(20, 20, 20, 0.315);
}
.join-club-now{
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    color: white;
    background-color: rgb(212, 65, 43);
}
.banner-image img{
    width: 100%;
    height: 415px;
    margin-top: -50px;
}
.first-card{
    position: relative;
    width: 160px;
    height: 70px;
    display: flex;
    border: 2px solid rgba(51, 49, 49, 0.171);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 8px 8px;
    color: white;
    margin-top:-120px;
    margin-left: -60px;
}
.circle{ 
    height: 30px;
    width: 30px;
    background-color: tomato;
    color: tomato;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 8px;
}
.circle i{
    display: none;
}
.first-card-text{
    margin-top: 8px;
}
.first-card-text p{
    font-size: 12px;
    opacity: 0.7;
}
.second-card{
    position: relative;
    width: 140px;
    height: 70px;
    display: flex;
    border: 2px solid rgba(51, 49, 49, 0.171);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 8px;
    color: white;
    margin-top:-300px;
    margin-left: 200px;
}
.second-card h3{
    font-size: 30px;
    font-weight: 900;
}
.second-card p{
    font-size: 10px;
    font-weight: 400;
}

/* Change Your Habit Related Style */
.change-habit-container{
    max-width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.change-habit-text{
    margin-top: 60px;
    text-align: center;
}
.change-habit-text h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
.change-habit-text p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5)
}
.change-habit-pic{
    width: 75%;
    height: 450px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.change-habit-pic img{
    border-radius: 50%;
}
.change-habit-pic h5{
    margin-top: 20px;
    font-size: 1.2rem;
}
.change-habit-pic p{
    margin-top: 5px;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}

/* Run Extra Mile Related Style */
.run-extra-mile{
    position: relative;
    max-width: 100%;
    background-color: black;
}
    .run-extra-mile-container{
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.2);
        position: relative;
        max-width: 75%;
        height: 350px;
        margin: 0px auto;
        margin-top: -100px;
        display: flex;
        justify-content: space-between;
        color: white;
        border-radius: 8px;
        z-index: 1;
    }
    .run-text{
        width: 40%;
        margin-left: 32px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        margin-top: -50px;
    }
    .run-text h3{
        font-size: 3.2rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }
    .run-text p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8rem;
        
    }
    .join-now{
        border: none;
        
        padding: 12px 40px;
        border-radius: 25px;
        color: white;
        background-color: rgb(212, 65, 43);
        position: relative;    
    }
    .run-pic{
        width: 40%;
        /* border: 2px solid saddlebrown; */
        display: flex;
        justify-content: center;
        align-items: center;      
    }
    .run-pic img{
        border-radius: 8px;
        object-fit: none;
        object-position: 66% 30%;
        width: 80%;
        height: 80%;
    }
    .inside-img-one{
        border: 2px solid green;
    }

    /* BMI Calculator Related Style */
    .bmi-calculator-text-container{
        max-width: 100%;
        background-color: black;
        position: relative;
        z-index: 0;
    }
    .bmi-calculator-text{
        position: relative;
        padding: 35px 0px;
        width: 45%;
        margin: 0px auto;
        color: white;
        text-align:left;
        z-index: 0;
       
    }
    .bmi-calculator-text h3{
        font-size: 3rem;
    }
    .bmi-calculator-text p{
        margin-top: 10px;
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
    }

    /* BMI Calculator Chart Related Style */
    .bmi-calculator-chart{
        background: rgb(34, 34, 34);
        max-width: 100%;
        height: 430px;
    }
    .bmi-calculator-chart-container{
        max-width: 75%;
        background: rgb(34, 34, 34);
        color: white;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
    }
    .bmi-calculator-table{
        width: 50%;
        margin-top: 50px;
    }
    .bmi-calculator-table h3{
        font-size: 1.7rem;
    }
    .bmi-calculator-table table{
        width: 340px;
        height: 200px;
        margin-top: 30px;
        border-collapse: collapse;
    }
    .bmi-calculator-table th,td{
        border: 1px solid gray;
        padding-left: 10px;
        
    }
    .bmi-calculator-table th{
        font-size: 1rem;
        color:  rgb(255, 255, 255);
        opacity: 0.8;
        text-align: left;
    }
    .bmi-calculator-table td{
        font-size: 0.8rem;
        color:rgba(255, 255, 255, 0.5)
    }
    .calculate-your-bmi{
        width: 670px;
        
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .calculate-your-bmi h3{
        font-size: 1.7rem;
    }
    .calculate-your-bmi p{
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
    }
    input,select{ 
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 40px;
        border-radius: 6px;
        width: 230px;
        color: white;
        padding: 12px 40px 12px 12px;
        margin-bottom: 4px;
        
    }
    .activity{
        width: 465px;
    }
    .calculate-your-bmi button{
        width: 200px;
    }
    ::placeholder {
        color: rgb(179, 179, 179);
        opacity: 1; 
      }
    .gray-color,.activity{
        color: rgb(179, 179, 179);
        opacity: 1;
    }

    /* Meet Our Team Related Style */
    .meet-our-team-section{
        max-width: 100%;
        background-color: black;
    }
    .meet-our-team-container{
        max-width: 75%;
        margin: 0px auto;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        color: white;
    }

    .meet-our-team-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .meet-our-team-text h3{
        font-size: 2.8rem;
        margin-bottom: 10px;
    }
    .meet-our-team-text p{
        font-size: 0.8rem;
        color: rgba(255, 255, 255, 0.5);
    }
    .meet-our-team-pic{
        max-width: 100%;
        max-height: 100%;
        padding: 0px 0px;
        border-radius: 18px;
        background: rgba(255, 255, 255, 0.1);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        position: relative;
       
    }
   
    .img-one,
    .img-two,
    .img-three,
    .img-four,
    .img-five,
    .img-six{
        width: 100%;
        position: relative;
        padding: 10px 10px;
        display: flex;
        flex-direction: column; 
    }
     .img-one img,
    .img-two img,
    .img-three img,
    .img-four img,
    .img-five img,
    .img-six img{
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }
        /*
    .img-one h4,
    .img-two h4,
    .img-three h4,
    .img-four h4,
    .img-five h4,
    .img-six h4{
        position: relative;
        margin-top: -50px;
        margin-left: 10px;
    }
    .img-one h6,
    .img-two h6,
    .img-three h6,
    .img-four h6,
    .img-five h6,
    .img-six h6{
        position: relative;
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.5);
    } */
    .trainer-image{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .trainer-name{
        position: relative;
        margin-top: -50px;

    }
    .trainer-name h4{
        position: relative;
        margin-left: 10px;
    }
    .trainer-name h6{
        position: relative;
        margin-left: 10px;
        color: rgba(255, 255, 255, 0.5);
    }

    /* Unique Section Related Style */
   .unique-part{
    max-width: 100%;
    padding-top: 30px;
    background-color: black;
    color: white;
   }
   .price-plan-container{
    width: 75%;
    margin: 0px auto;
    padding-bottom: 50px;
   }
   .price-plan-title{
    display: flex;
    gap: 40px;
   }
   .price-plan-title img{
    width: 20%;
    height: 50%;
    border-radius: 8px;
   }
   .price-plan-title h3{
    font-size: 3.8rem;
    margin-top: 50px;
   }
   .pp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .price-plan-text{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
   }
   .price-plan-text li{
    list-style: none;
   }
   .silver,
   .gold,
   .platinum{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   .silver,
   .gold,
   .platinum{
    width: 100%;
    background: rgba(136, 136, 136, 0.3);
    padding: 8px 12px;
    border-radius: 8px;
   
   }
   .silver h3,
   .gold h3,
   .platinum h3{
    font-size: 2rem;
   }
   .plan-description{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
   }
   small{
    color: rgba(255, 255, 255, 0.5);
   }
   .access{
    font-size: 0.8rem;
   }
   .tick{
    color: green;
   }
   .cross{
    color: rgb(163, 18, 18);
   }
   .unorder{
    margin-left: 50px;
    margin-bottom: 10px
   }

   /* Footer Section Related Style  */
   .footer-container{
    background: rgb(34, 34, 34);
        max-width: 100%;
        height: 430px;
      
   }
   .footer-content{
    position: relative;
   max-width: 75%;
    height: 250px;
    margin: 0px auto;
    display: flex;
    gap: 0%;
    padding-top: 30px;
   }
   .fitness-part{
    position: relative;
    width: 30%;
    margin-right: 60px;
   
   }
   .footer-fitness{
    font-size: 3.2rem;
    margin-top: -13px;
   }
   .fitness-part p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    
   }
   .get-started{
    position: relative;
     width: 70%;
     display: flex;
     gap: 40%;
     color: white;
     
   }
   .get-started h3{
    font-size: 2rem;
   }
   .get-started li{
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.3);
   }
   .get-started-one{
    margin-left: 40px;
   }
   .get-started-one,.get-started-two{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
   }
   
   .get-started-two{
    position: relative;
    
   }
   .last-part{
    margin-top: 0px;
    text-align: center;
   }
   .horizontal-line{
    width: 75%;
    margin: 0px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
   }
   .last-part p{
    font-size: 1rem;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.3);
   }
/* Media Query for mobile screen */
@media screen and (max-width: 576px) {
    body{
        /* background-color: black; */
    }
    /* Banner Related Style For Small Device */
   .banner-container{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0.1px;
    background: linear-gradient(to bottom, #000000, #434343, #000000);
    
   }
   .navbar{
    width: 75%;
    margin-top: 20px;
   }
   .navbar-menu{
    display: none;
   }
   .navbar-icon{
    margin-top: 15px;
    position: relative;
    display: inline;
   }
   .fa-bars{
    
    font-size: large;
    color: white;
   }
   .banner-text-card-image{
    width: 75%;
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: left;
  
   }
   .text-title{
    margin-bottom: 10px;
   }
   .join-club-now{
    padding: 8px 14px;
   }
   .download-app{
    padding: 8px 14px;
   }
   .text-title{
     font-size: 1.5rem;
   }
   .text-paragraph p{
    margin-bottom: 20px;
   }
   .banner-image{
    position: relative;
    top: -220px;
   }
   .first-card{
    position: relative;
    top: -300px;
    left: 30px;
   }
   .circle{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .circle i{
    display: inline;
    color: white;
    font-size: small;
   
   }
   .second-card{
    width: 120px;
    position: relative;
    top: -270px;
    right: 25px;
   }

   /* Change Your Habit Style For Small Device */
   .change-habit{
    background-color: black;
   }
.change-habit-container{
    width: 100%;
    position: relative;
    margin-top: -150px;
    height: 1440px;
    /* margin-bottom: 150px; */
}

   .change-habit-text h3{
    font-size: 2.4rem;
    margin-bottom: 20px;
}
.change-habit-text p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5)
}
.change-habit-pic{
    flex-direction: column;
    gap: 20px;
}
 
/* Run Extra Mile Style For Small Device */
  
    .run-extra-mile-container{
        width: 75%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
        
    }
    .run-text{
        margin-top: 20px;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .run-text h3{
        font-size: 1.8rem;
        margin-bottom: 0.3rem;
    }
    .run-text p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.6rem;
    }
    .join-now{
        width: 115%;
        position: relative;
        left: 0px;
    }
    .run-pic{
        width: 100%;
    }
    .run-pic img{
        object-fit: cover;
       
    }
    /* BMI Calculator Text Related Style For small device */

    /* .bmi-calculator-text-container{
        margin-top: 30px;
    } */

    .bmi-calculator-text{
        width: 75%;
        margin-top: -15px;
    }
    .bmi-calculator-text h3{
        font-size: 2.4rem;
    }
    .bmi-calculator-text p{
        font-size: 0.8rem;
    }
    /* BMI Calculator Table and Calculator Related Style for Small Device */
    .bmi-calculator-chart{
        width: 100%;
        height: 800px;
        margin-top: -5px;
    }
    .bmi-calculator-chart-container{
        width: 75%;
        display: flex;
        flex-direction: column;
    }
    .calculate-your-bmi{
        width: 100%;
    }
    .bmi-calculator-table table{
        width: 85%;
    }
    .bmi-calculator-table th{
        font-size: 0.8rem;
    }
    .bmi-calculator-table h3{
        font-size:2.4rem;
    }
    .bmi-calculator-table{
       width: 100%;
    }
    input,select{
        width: calc( 50% - 5px );
    }
    .activity{
        width: 98%;
    }

    /* Meet Our Team Related Style For Small Device */
    .meet-our-team-section{
        height: 1380px;
        z-index: 0;
    }
    .meet-our-team-text{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .meet-our-team-text h3{
        font-size: 2.4rem;
    }
    .meet-our-team-text p{
        
        font-size: 0.8rem;
    }
    .meet-our-team-pic{
        width: 75%;
        height: 940px;
        padding: 6px 14px;
        margin: 0px auto;
        grid-template-columns: repeat(1,1fr);
    }
    .meet-our-team-pic img{
        width: 100%;
        height: 100%;
    }
    .img-one{
        position: absolute;
        display: none;
    }
    .img-four{
        position: absolute;
        display: none;
    }

    /* Unique Section Related Style For Small Device */
   
    .unique-part{
        width: 100%;
        height: 1440px;
        margin-top: -220px;
        
       }
    .price-plan-title{
        flex-direction: column;
        padding: 20px;
    }
    .price-plan-title h3{
        font-size: 2.3rem;
        margin-top: -20px;
        margin:0px auto;
       
    }
    .price-plan-title img{
        margin: 0px auto;
        width: 90%;
        border-radius: 8px;
    }
    .price-plan-text{
        width: 75%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        
       }
       .unorder{
        margin-left: 30px;
        margin-bottom: 10px
       }

       /* Footer Section Related Style For Small */
       .footer-container{
        margin-top: -1px;
        height: 740px;
        padding-top: 20px;
       }
       .footer-content{
        width: 75%;
        flex-direction: column;
        gap: 40px;
        
       }
       .fitness-part{
        width: 80%;
       }
       .get-started{
        flex-direction: column;
        gap: 40px;
       }
       .get-started-one{
        margin-left: -04px;
       }
       .last-part{
        margin-top: 370px;
       }
      
}