@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.inter-font{
    font-family: "Inter", sans-serif;

}

.miama-font{
    font-family: 'Miama', sans-serif;
}
body{
    font-family: "Inter", sans-serif;
}
.display-flex{
    display: flex;
}
/* Banner Navbar Related Style */
.banner-container{
    max-width: 100%;
    height: 510px;
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(17, 17, 17, 0.7) 40%, rgb(0, 0, 0) 100%);
    position: relative;
    padding: 0.1px;
}
.navbar{
    max-width: 75%;
    height: 36px;
    /* border: 2px solid brown; */
    margin: 47px auto;
    justify-content: space-between;
}
.navbar-fitness{
    font-size: 32px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    text-align: left;
}
.navbar-menu{
    border: 2px solid rgba(136, 133, 133, 0.1);
    border-radius: 50px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

}

.navbar-menu a{
    color: white;
    opacity: 0.9;
    font-size: 0.9rem;
    text-decoration: none;
    padding: 6px 14px;
}
   

.menu-home{
    color: white;
    text-align: center;
    background-color:  rgb(230, 83, 60);
    border-radius: 50px;
    text-decoration: none;
    padding: 8px 14px;
    font-weight: 600;
    margin-left: 4px;
}
.navbar-icon{
   display: none;
  
}

/* Banner Text and Image Related Style */
.banner-text-card-image{
    position: relative;
       max-width: 75%;
       height: 400px;
       margin: 0px auto;  
       gap: 300px;    
}
.banner-card-image{
    position: relative;
}
.banner-text{
    display: flex;
    flex-direction: column;
}
.text-title{
    font-size: 2.5rem;
    color: white;
    line-height: 190%;
    letter-spacing: 0%;
}
.text-title span{
    font-family: 'Miama', sans-serif;
    font-size: 4.8rem;
    font-weight: lighter;
}
.text-paragraph p{
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.7rem;
    margin-bottom: 10px;
}
.download-app{
    color: white;
    border: none;
    padding: 12px 24px;
    border: 2px solid rgba(255, 255, 255, 0.062);
    border-radius: 25px;
    background-color: rgba(20, 20, 20, 0.315);
}
.join-club-now{
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    color: white;
    background-color: rgb(212, 65, 43);
}
.banner-image img{
    width: 100%;
    height: 430px;
    margin-top: -50px;
}
.first-card{
    position: relative;
    width: 160px;
    height: 70px;
    display: flex;
    border: 2px solid rgba(51, 49, 49, 0.171);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 8px 8px;
    color: white;
    margin-top:-120px;
    margin-left: -60px;
}
.circle{ 
    height: 30px;
    width: 30px;
    background-color: tomato;
    color: tomato;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 8px;
}
.circle i{
    display: none;
}
.first-card-text{
    margin-top: 8px;
}
.first-card-text p{
    font-size: 12px;
    opacity: 0.7;
}
.second-card{
    position: relative;
    width: 140px;
    height: 70px;
    display: flex;
    border: 2px solid rgba(51, 49, 49, 0.171);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 8px;
    color: white;
    margin-top:-300px;
    margin-left: 200px;
}
.second-card h3{
    font-size: 30px;
    font-weight: 900;
}
.second-card p{
    font-size: 10px;
    font-weight: 400;
}
/* Media Query for mobile screen */
@media screen and (max-width: 576px) {
   .banner-container{
    height: auto;
    position: relative;
    padding: 0.1px;
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(17, 17, 17, 0.7) 10%, rgb(0, 0, 0) 100%);
   }
   .navbar{
    margin-top: 20px;
   }
   .navbar-menu{
    display: none;
   }
   .navbar-icon{
    margin-top: 15px;
    position: relative;
    display: inline;
   }
   .fa-bars{
    
    font-size: large;
    color: white;
   }
   .banner-text-card-image{
    flex-direction: column;
    height: auto;
    text-align: left;
  
   }
   .text-title{
    margin-bottom: 10px;
   }
   .join-club-now{
    padding: 8px 14px;
   }
   .download-app{
    padding: 8px 14px;
   }
   .text-title{
     font-size: 1.5rem;
   }
   .text-paragraph p{
    margin-bottom: 20px;
   }
   .banner-image{
    position: relative;
    top: -220px;
   }
   .first-card{
    position: relative;
    top: -300px;
    left: 30px;
   }
   .circle{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .circle i{
    display: inline;
    color: white;
    font-size: small;
   
   }
   .second-card{
    position: relative;
    top: -270px;
    right: 20px;
   }
   
 
}